input {
    width: 100%;
}

li {
    display: flex;
    text-align: start;
    border: 1px solid grey;
    list-style: none;
    justify-content: space-between;
    padding: 5px;
}

.icon {
    display: none
}

li:hover .icon {
    display: block
}

ul {
    padding: 0;
    box-shadow: 2px 2px 10px black;
}

i {
    color: red
}

.itemLeft {
    font-size: x-small;
    color: grey;
}
